<H1>Introduction/Business Problem:</H1>


Technology is (and will remain as) arguably our greatest influence in this century, revolutionazing human capabilities and desires beyond what was previously only dreamed of. The massive adoption of smartphones and social media changed forever the way people interact and engage with each other, with an increasingly accesible, diversified and novel content, and of course with businesses that cater the recently developed needs of this new age.

The entertainment industry, for example, has seen major shifts this last two decades. In this regard, one area of special interest for it’s upside potential is the videogames industry. For the digital-native population, videogames have been an ubiquitous and reliable companion from the most tender age, providing opportunities to challenge themselves, to compete and improve, to bond and connect with friends and other fellow gamers or simply enjoy their spare time in a casual manner. As these people grow, so do this passion: millennials and centennials all around the globe continue to find pleasure in gaming as their mature into college or their first jobs, with the intention to relax and have fun with friends after a long, hard day of work, from the comfort of their own homes. The COVID-19 pandemic exacerbated this trend and made it more visible to everyone, something that was reflected in all sort of sectorial metrics.

Even though the ability to seamlessly play a game from an extremely large pool of options with one’s acquaintance and from one’s own place proved to be very appealing, maybe there are other venues where people would enjoy the gaming experience. In the Internet era, communities of all kinds have flooded this wonderful space: would an in-person gathering be something they would be interested in? Would this people like to meet their online partners in real life to share a meal or a drink and, of course, play casually or competitively with others in-site? Could this setup attract a broader audience into the gaming market, thus expanding it’s dimension and resources, ultimately improving the consumer experience through innovative products and services?

In this instance, focus will be placed into finding the best possible locations for such a place in Buenos Aires, Argentina, using a diverse set of tools from the data science and machine learning fields. As the target audience is mainly mid-young adults with a middle-to-high income (relative to Argentina’s economy, which won’t be the case for developed economies), proximity to universities, tech-related companies and stores, and other entertainment venues that are popular among the target audience, like traditional bars and cinemas, would probably be convenient, improving chances to maximize potential turnover and revenue.

<H1>Data:</H1>

The coordinates of all neighborhoods will be gather from the website of Buenos Aires' municipal government. Information regarding location of universities is also contained in a dataset in this website. The Foursquare API will be used to query venues and allow meaningful comparison between neighborhoods.

<H1>Methodology:</H1>
    
Both datasets had to be manipulated in order to concatenate them, just keeping the Neighborhood's names and venues's categories for the final analysis. The dataset containing the universities' information had a plethora of useless labels, and the dataset cointaining neighborhoods locations had a plethora of coordinates to account for their shape. Using these coordinates a rectangular area was calculated for each neighborhood, using it's center as the point from which to query venues' information from the Foursquare API, and using a different radius for each one, according to it's size. Not all venues were important for the purpose of the analysis, so some of them were deleted. Finally, venues were grouped into macro-categories by function to summarizes their information in a more simple presentation.

In [29]:
import requests 
import pandas as pd 
import numpy as np 
import json
import math

from IPython.display import Image 
from IPython.core.display import HTML 
    
from pandas.io.json import json_normalize

#!conda install -c conda-forge folium=0.5.0 --yes
#import folium # plotting library

#print('Folium installed')
print('Libraries imported.')

Libraries imported.

In [2]:
#Get the dataset cointaining coordinates for Buenos Aires's Neighborhoods.

!wget --quiet http://cdn.buenosaires.gob.ar/datosabiertos/datasets/barrios/barrios.geojson -O ba_neighborhoods.json

In [3]:
#Open the JSON file and assign it's content to a variable.

with open('ba_neighborhoods.json') as json_data:
    ba_data = json.load(json_data)

   This dataset has multiple coordinates for each neighborhood, because it intends to account for their geometry. For the purpose of this analysis, the gaps between extreme values of longitude and latitude are used to approximate a rectangular area for each neighborhood. With these values the centre of each rectangle is easily calculated. The radius appropriate for every rectangle is calculated using a geometric concept: the diagonal of any quadrilateral can be used as the diameter of a circle so that the rectangle will fit exactly into it. An estimation of 111 km per degree of any coordinate value allows for the calculation of the gaps in terms of kilometers.

   This methodlogy implies many venues will not be uniquely associated with a specific neighborhood, because the area covered by the circle estimated for each neighborhood exceeds the area of it's corresponding rectangle. However, for the purpose of finding the best possible location this is not problematic per se. The issue that may arise is linked to the limit in the calls made to the Foursquare APIs, something important to consider when repeating an refining this analysis.

In [4]:
#Extract a list of neighborhoods from the dataset and create a DataFrame.

list_for_df = []
for i in range(0, len(ba_data['features'])):
    list_for_df.append(ba_data['features'][i]['properties']['barrio'])
    
df_neighborhoods = pd.DataFrame({'Neighborhood': list_for_df, 'Center Latitude':'', 'Center Longitude':'', 'Latitude Gap (in km)': '', 'Longitude Gap (in km)': '', 'Radius for query': ''})
latitude_to_kms = 111
longitude_to_kms = 111
df_neighborhoods

,Neighborhood,Center Latitude,Center Longitude,Latitude Gap (in km),Longitude Gap (in km),Radius for query
0,CHACARITA,,,,,
1,PATERNAL,,,,,
2,VILLA CRESPO,,,,,
3,VILLA DEL PARQUE,,,,,
4,ALMAGRO,,,,,
5,CABALLITO,,,,,
6,VILLA SANTA RITA,,,,,
7,MONTE CASTRO,,,,,
8,VILLA REAL,,,,,
9,FLORES,,,,,
10,FLORESTA,,,,,
11,CONSTITUCION,,,,,
12,SAN CRISTOBAL,,,,,
13,BOEDO,,,,,
14,VELEZ SARSFIELD,,,,,
15,VILLA LURO,,,,,
16,PARQUE PATRICIOS,,,,,
17,MATADEROS,,,,,
18,VILLA LUGANO,,,,,
19,SAN TELMO,,,,,
20,SAAVEDRA,,,,,
21,COGHLAN,,,,,
22,VILLA URQUIZA,,,,,
23,COLEGIALES,,,,,
24,BALVANERA,,,,,
25,VILLA GRAL. MITRE,,,,,
26,PARQUE CHAS,,,,,
27,AGRONOMIA,,,,,
28,VILLA ORTUZAR,,,,,
29,BARRACAS,,,,,
30,PARQUE AVELLANEDA,,,,,
31,PARQUE CHACABUCO,,,,,
32,NUEVA POMPEYA,,,,,
33,PALERMO,,,,,
34,VILLA RIACHUELO,,,,,
35,VILLA SOLDATI,,,,,
36,VILLA PUEYRREDON,,,,,
37,VILLA DEVOTO,,,,,
38,LINIERS,,,,,
39,VERSALLES,,,,,
40,PUERTO MADERO,,,,,
41,MONSERRAT,,,,,
42,SAN NICOLAS,,,,,
43,BELGRANO,,,,,
44,RECOLETA,,,,,
45,RETIRO,,,,,
46,NUÑEZ,,,,,
47,BOCA,,,,,

In [5]:
#A function is defined to populate the DataFrame with the relevant information.

def populate_neighborhoods(df):

#For every neighborhood, every coordinate is appended to a list to make it easier to calculate the extreme values and the distance between them.    

    for j in range(0, df['Neighborhood'].count()):
        longitude_list = []
        latitude_list = []
        for i in range(0, len(ba_data['features'][j]['geometry']['coordinates'][0])):
            longitude_list.append(ba_data['features'][j]['geometry']['coordinates'][0][i][0])
            latitude_list.append(ba_data['features'][j]['geometry']['coordinates'][0][i][1])

#Populate every neighborhood's center, using minimum values as coordinates for a corner and adding the half of each gap to define the center of the area.  

        long_gap = (max(longitude_list) - min(longitude_list))
        lat_gap = (max(latitude_list) - min(latitude_list))
        df.iloc[j,1] = (min(latitude_list)+0.5*long_gap)
        df.iloc[j,2] =(min(longitude_list)+0.5*lat_gap)
        df.iloc[j,3] = lat_gap*latitude_to_kms
        df.iloc[j,4] = long_gap*longitude_to_kms

#Finally, calculate the radius appropriate to query every neighborhood.        
                
        x = df.iloc[j, 3]*0.5
        y = df.iloc[j, 4]*0.5
        radius = math.sqrt(x**2 + y**2)/2
        df['Radius for query'][j] = radius*1000
        
        df

In [6]:
#Call the function, using the DataFrame previously created as input.

populate_neighborhoods(df_neighborhoods)
df_neighborhoods

,Neighborhood,Center Latitude,Center Longitude,Latitude Gap (in km),Longitude Gap (in km),Radius for query
0,CHACARITA,-34.5837,-58.4571,2.16895,3.14046,954.163
1,PATERNAL,-34.594,-58.4699,1.98311,2.50803,799.333
2,VILLA CRESPO,-34.5898,-58.4495,2.10322,3.948,1118.32
3,VILLA DEL PARQUE,-34.5989,-58.4971,2.02325,3.56876,1025.6
4,ALMAGRO,-34.6114,-58.4212,2.70415,2.3771,900.105
5,CABALLITO,-34.6127,-58.4487,3.10419,3.99032,1263.89
6,VILLA SANTA RITA,-34.613,-58.4865,1.83185,2.57126,789.265
7,MONTE CASTRO,-34.614,-58.512,2.14503,3.21903,967.061
8,VILLA REAL,-34.6202,-58.5232,1.84561,1.61712,613.461
9,FLORES,-34.6331,-58.4563,4.76421,5.25889,1774.01
10,FLORESTA,-34.6255,-58.4871,2.46491,2.98567,967.923
11,CONSTITUCION,-34.6261,-58.3834,1.8506,1.78977,643.623
12,SAN CRISTOBAL,-34.6197,-58.4064,1.35383,2.37252,682.903
13,BOEDO,-34.6315,-58.418,2.17094,1.92105,724.716
14,VELEZ SARSFIELD,-34.6269,-58.4973,2.21217,3.19105,970.711
15,VILLA LURO,-34.6315,-58.5056,2.39089,3.17201,993.038
16,PARQUE PATRICIOS,-34.6368,-58.4028,2.36761,2.6146,881.821
17,MATADEROS,-34.651,-58.5102,3.452,5.2121,1562.9
18,VILLA LUGANO,-34.6658,-58.4854,3.80472,5.75921,1725.62
19,SAN TELMO,-34.6225,-58.3705,1.5394,1.55071,546.263
20,SAAVEDRA,-34.5492,-58.4942,3.48169,4.62717,1447.69
21,COGHLAN,-34.5583,-58.4769,1.478,1.89472,600.752
22,VILLA URQUIZA,-34.5643,-58.4962,2.85424,4.54649,1342.04
23,COLEGIALES,-34.5715,-58.4548,1.89394,2.59925,804.018
24,BALVANERA,-34.6091,-58.4033,2.51296,2.55329,895.622
25,VILLA GRAL. MITRE,-34.6082,-58.4718,1.91973,2.43494,775.173
26,PARQUE CHAS,-34.5827,-58.4825,1.39844,1.99559,609.202
27,AGRONOMIA,-34.5858,-58.4961,1.64865,3.06967,871.096
28,VILLA ORTUZAR,-34.5812,-58.4699,2.00876,2.08272,723.396
29,BARRACAS,-34.6436,-58.3872,3.95329,4.151,1433.08
30,PARQUE AVELLANEDA,-34.6453,-58.4822,2.89905,3.87393,1209.65
31,PARQUE CHACABUCO,-34.6319,-58.4442,2.25928,3.42837,1026.46
32,NUEVA POMPEYA,-34.6451,-58.4229,2.65829,3.76144,1151.49
33,PALERMO,-34.5698,-58.4256,5.20798,6.23876,2031.7
34,VILLA RIACHUELO,-34.6858,-58.4709,2.75998,4.33566,1284.9
35,VILLA SOLDATI,-34.6617,-58.4534,3.78611,5.15272,1598.54
36,VILLA PUEYRREDON,-34.5806,-58.5032,2.74042,2.96844,1010
37,VILLA DEVOTO,-34.6041,-58.51,4.32313,3.58462,1403.99
38,LINIERS,-34.6429,-58.5183,2.6745,3.11461,1026.33
39,VERSALLES,-34.6237,-58.5251,1.26252,2.48801,697.503
40,PUERTO MADERO,-34.6103,-58.3545,3.34248,3.29313,1173.05
41,MONSERRAT,-34.6056,-58.3861,1.29395,2.79911,770.929
42,SAN NICOLAS,-34.5967,-58.3874,1.21777,2.79774,762.819
43,BELGRANO,-34.5511,-58.4517,4.80895,5.31532,1791.97
44,RECOLETA,-34.5771,-58.4003,3.49557,5.02883,1531.1
45,RETIRO,-34.5789,-58.3807,2.42078,4.51879,1281.59
46,NUÑEZ,-34.5456,-58.4597,3.60074,2.96131,1165.51
47,BOCA,-34.6324,-58.3544,3.61099,3.94135,1336.36

   Proceed to query venues for every neighborhood using it's coordinates and it's corresponding radius, creating a new DataFrame in the process to store all this new information.

In [7]:
# @hidden_cell

CLIENT_ID = 'BIKJD0KWOGCZVJCDTLO4ROBIC5CMNI2M2OIMPRHDI5UDZDYM' 
CLIENT_SECRET = 'PB4Y0DTWKU5NGYTUS30OUCDLQ2LSC55Y4C4CU1C4LUB0JNOJ'
VERSION = '20180604'
LIMIT = 30
print('Client ID and Client Secret for the Foursquare API stored')

Client ID and Client Secret for the Foursquare API stored

In [8]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [9]:
#Function to populate the DataFrame with the venues' information.

def getNearbyVenues(names, latitudes, longitudes, radius):
    
    venues_list=[]
    for name, lat, lng, radius in zip(names, latitudes, longitudes, radius):
            
#Create the API request URL.

        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, CLIENT_SECRET, VERSION, lat, lng, radius, LIMIT)
            
#Make the GET request.

        results = requests.get(url).json()["response"]['groups'][0]['items']
        
#Return only relevant information for each nearby venue.

        venues_list.append([(name, lat, lng, v['venue']['name'], v['venue']['location']['distance'], v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 'Neighborhood Latitude', 'Neighborhood Longitude', 'Venue', 'Distance to Centroid in m', 'Category']
    
    return(nearby_venues)

In [10]:
ba_venues = getNearbyVenues(names=df_neighborhoods['Neighborhood'],
                                   latitudes=df_neighborhoods['Center Latitude'],
                                   longitudes=df_neighborhoods['Center Longitude'],
                                   radius=df_neighborhoods['Radius for query']
                                  )

ba_venues

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Distance to Centroid in m,Category
0,CHACARITA,-34.583689,-58.457058,Bar Palacio (Museo Fotográfico Simik),336,Café
1,CHACARITA,-34.583689,-58.457058,Club Chacarita,536,Pool
2,CHACARITA,-34.583689,-58.457058,Espacio Cultural Carlos Gardel,580,Cultural Center
3,CHACARITA,-34.583689,-58.457058,Roll'in Luí Alimentos,700,Vegetarian / Vegan Restaurant
4,CHACARITA,-34.583689,-58.457058,La Mezzetta,695,Pizza Place
5,CHACARITA,-34.583689,-58.457058,Les Croquants,709,Pastry Shop
6,CHACARITA,-34.583689,-58.457058,El Imperio de la Pizza,404,Pizza Place
7,CHACARITA,-34.583689,-58.457058,Sede Central de Whisky,683,Whisky Bar
8,CHACARITA,-34.583689,-58.457058,Strange Brewing,699,Beer Bar
9,CHACARITA,-34.583689,-58.457058,Fábrica de Churros Olleros,482,Bakery
10,CHACARITA,-34.583689,-58.457058,Gambrinus,407,German Restaurant
11,CHACARITA,-34.583689,-58.457058,Elote,686,Venezuelan Restaurant
12,CHACARITA,-34.583689,-58.457058,El Galpón,219,Farmers Market
13,CHACARITA,-34.583689,-58.457058,Don Cosme,754,Deli / Bodega
14,CHACARITA,-34.583689,-58.457058,Funes Birreria,517,Brewery
15,CHACARITA,-34.583689,-58.457058,Albamonte Ristorante,585,Argentinian Restaurant
16,CHACARITA,-34.583689,-58.457058,Megaphoto,772,Photography Lab
17,CHACARITA,-34.583689,-58.457058,La Siesta,368,Restaurant
18,CHACARITA,-34.583689,-58.457058,La Trufa,540,Bakery
19,CHACARITA,-34.583689,-58.457058,SportClub,858,Gym / Fitness Center
20,CHACARITA,-34.583689,-58.457058,Santos 4040,872,Theater
21,CHACARITA,-34.583689,-58.457058,Charlone 101,928,Restaurant
22,CHACARITA,-34.583689,-58.457058,Teatro Vorterix,684,Rock Club
23,CHACARITA,-34.583689,-58.457058,Dance And Move,700,Dance Studio
24,CHACARITA,-34.583689,-58.457058,Kainos,384,Ice Cream Shop
25,CHACARITA,-34.583689,-58.457058,L'épi Boulangerie,940,Bakery
26,CHACARITA,-34.583689,-58.457058,Georgie’s,551,Taco Place
27,CHACARITA,-34.583689,-58.457058,Plaza San Miguel de Garicoits,671,Plaza
28,CHACARITA,-34.583689,-58.457058,Vegetalía - Carnes Veggies,589,Vegetarian / Vegan Restaurant
29,CHACARITA,-34.583689,-58.457058,MCL Records,842,Music Venue
...,...,...,...,...,...,...
1244,BOCA,-34.632384,-58.354392,Usina del Arte,468,Art Gallery
1245,BOCA,-34.632384,-58.354392,Bar Portuario,139,Seafood Restaurant
1246,BOCA,-34.632384,-58.354392,Pizzería Augusto,563,Pizza Place
1247,BOCA,-34.632384,-58.354392,El Obrero,384,Argentinian Restaurant
1248,BOCA,-34.632384,-58.354392,Café Roma,568,Coffee Shop
1249,BOCA,-34.632384,-58.354392,El Galpon de la Boca,39,Performing Arts Venue
1250,BOCA,-34.632384,-58.354392,Il Matterello,725,Italian Restaurant
1251,BOCA,-34.632384,-58.354392,Fundación Proa,1061,Art Gallery
1252,BOCA,-34.632384,-58.354392,La Glorieta de Quique,1070,BBQ Joint
1253,BOCA,-34.632384,-58.354392,Banchero,517,Pizza Place
1254,BOCA,-34.632384,-58.354392,Don Carlos,962,Argentinian Restaurant
1255,BOCA,-34.632384,-58.354392,"Estadio Alberto J. Armando ""La Bombonera"" (Clu...",1058,Soccer Stadium
1256,BOCA,-34.632384,-58.354392,Eventos Buenos Ayres,1278,Lounge
1257,BOCA,-34.632384,-58.354392,El Gran Paraíso,1118,BBQ Joint
1258,BOCA,-34.632384,-58.354392,Buenos Aires,1317,Plaza
1259,BOCA,-34.632384,-58.354392,Caminito Tango Show,1033,Argentinian Restaurant
1260,BOCA,-34.632384,-58.354392,Encuentro Nativo,1113,Restaurant
1261,BOCA,-34.632384,-58.354392,El Atelier,1142,Argentinian Restaurant
1262,BOCA,-34.632384,-58.354392,Puerto de la boca,1092,Argentinian Restaurant
1263,BOCA,-34.632384,-58.354392,Museo Quinquela Martín,957,Art Museum
1264,BOCA,-34.632384,-58.354392,Patagonia Sur,1109,Argentinian Restaurant
1265,BOCA,-34.632384,-58.354392,La Barrica Restaurante & Bistrot,1083,Argentinian Restaurant
1266,BOCA,-34.632384,-58.354392,Museo de la Pasión Boquense,1025,Art Gallery
1267,BOCA,-34.632384,-58.354392,Puerto viejo,1057,Argentinian Restaurant
1268,BOCA,-34.632384,-58.354392,Caminito,1083,Pedestrian Plaza
1269,BOCA,-34.632384,-58.354392,Madero Tango,1297,Argentinian Restaurant
1270,BOCA,-34.632384,-58.354392,Fútbol Madero,1291,Soccer Field
1271,BOCA,-34.632384,-58.354392,"Conventillo Historico ""El Paraiso""",1098,Historic Site
1272,BOCA,-34.632384,-58.354392,Punto Caminito,451,Arts & Crafts Store
1273,BOCA,-34.632384,-58.354392,El Rinconcito - Resto Bar,997,Argentinian Restaurant

It's time to incorporate the locations of the universities found in the dataset provided by the Buenos Aires' government.

In [11]:
#Get the dataset cointaining coordinates for Buenos Aires's colleges.

!wget --quiet http://cdn.buenosaires.gob.ar/datosabiertos/datasets/universidades/universidades.csv -O ba_colleges.csv

In [12]:
with open('ba_colleges.csv') as colleges_data:
    ba_colleges = pd.read_csv(colleges_data)
ba_colleges

,regimen,universida,univ_c,unidad_aca,unac_c,anexo_c,unicue,cui,telef,fax,...,direccion_norm,calle,altura,WKT_gkba,barrio,comuna,codigo_postal,codigo_postal_argentino,long,lat
0,Privado,FLACSO (Facultad Latinoamericana de Ciencias S...,1,Rectorado,1,0,100100,2546,5238-9339 (C)5238-9300,4375-1373,...,Ayacucho 555,Ayacucho,555,POINT (-58.3953412190814 -34.6026584750106),Balvanera,Comuna 3,1026.0,C1026AAC,-58.395341,-34.602658
1,Privado,Instituto Tecnológico de Buenos Aires,2,Rectorado,1,0,200100,2456,63934813 [C]6393-4810,6393-4813,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
2,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Investigación,7,0,200700,2456,6393-4869,6393-4869,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
3,Privado,Instituto Tecnológico de Buenos Aires,2,Área de Energía,40,0,204000,2456,6393-4870,6393-4870,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
4,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Bioingeniería,87,0,208700,2456,6393-4893,6393-4893,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
5,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Desarrollo Humano,103,0,210300,2456,6393-4886,6393-4886,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
6,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Economía y Desarrollo Profesional,109,0,210900,2456,6393-4877,6393-4877,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
7,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Extensión Universitaria y Vicu...,112,0,211200,2456,6393-5984,6393-5984,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
8,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Física,114,0,211400,2456,6393-5867,6393-5867,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
9,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Ingeniería Eléctrica,120,0,212000,2456,6393-4829,6393-4829,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
10,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Ingeniería Eléctrica y Electró...,121,0,212100,2456,6393-5883,6393-5883,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
11,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Ingeniería Electrónica,122,0,212200,2456,6393-5886,6393-5886,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
12,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Ingeniería en Petróleo,123,0,212300,2456,6393-4860,6393-4860,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
13,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Ingeniería Industrial,124,0,212400,2456,6393-4895,6393-4895,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
14,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Ingeniería Informática,125,0,212500,2456,6393-4894,6393-4894,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
15,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Ingeniería Mecánica y Naval,126,0,212600,2456,6393-4824,6393-4824,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
16,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Ingeniería Química,127,0,212700,2456,6393-5824,6393-5824,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
17,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Licenciatura en Administración...,130,0,213000,2456,6393-4873,6393-4873,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
18,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Matemáticas,137,0,213700,2456,6393-4875,6393-4875,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
19,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento de Servicios Tecnológicos,148,0,214800,2456,6393-5984,6393-5984,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
20,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento del Doctorado,152,0,215200,2456,6393-4843,6393-4843,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
21,Privado,Instituto Tecnológico de Buenos Aires,2,Departamento Naval,153,0,215300,2456,6393-4860,6393-4860,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
22,Privado,Instituto Tecnológico de Buenos Aires,2,Escuela de Ingeniería y Gestión,180,0,218000,2456,6393-4870,6393-4870,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
23,Privado,Instituto Tecnológico de Buenos Aires,2,Escuela de Ingeniería y Tecnología,181,0,218100,2456,6393-4870,6393-4870,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
24,Privado,Instituto Tecnológico de Buenos Aires,2,Escuela de Postgrado,190,0,219000,2456,6393-4843,6393-4843,...,Av. Eduardo Madero 399,Av. Eduardo Madero,399,POINT (-58.3678488464698 -34.6031162314776),Puerto Madero,Comuna 1,1106.0,C1106ACD,-58.367849,-34.603116
25,Público,Instituto Universitario Aeronáutico,3,Escuela Superior de Guerra Aéra,202,0,320200,2458,4346-8752,4346-8752,...,Av. Luis María Campos 480,Av. Luis María Campos,480,POINT (-58.4341586858234 -34.5721622695851),Palermo,Comuna 14,1426.0,C1426BOP,-58.434159,-34.572162
26,Público,Instituto Universitario Aeronáutico,3,Instituto de Inteligencia de la Fuerzas Armadas,263,0,326300,2457,4346-8729,4346-8729,...,Av. Cabildo 381,Av. Cabildo,381,POINT (-58.4404021525838 -34.5720425235999),Palermo,Comuna 14,1426.0,C1426AAD,-58.440402,-34.572043
27,Público,Instituto Universitario Aeronáutico,3,Instituto Nacional de Derecho Aeronáutico y Es...,268,0,326800,2459,4514-4266,4514-4266,...,Viamonte 153,Viamonte,153,POINT (-58.3702668715196 -34.5993451896829),San Nicolas,Comuna 1,1053.0,C1053ABC,-58.370267,-34.599345
28,Privado,Instituto Universitario CEMIC,4,Rectorado,1,0,400100,2461,5299-0196,5299-0196,...,Valdenegro 4337,Valdenegro,4337,POINT (-58.4948843800369 -34.5549371768609),Saavedra,Comuna 12,1430.0,C1430EFA,-58.494884,-34.554937
29,Privado,Instituto Universitario CEMIC,4,Escuela de Medicina,183,0,418300,2461,5299-0900,5299-0196,...,Valdenegro 4337,Valdenegro,4337,POINT (-58.4948843800369 -34.5549371768609),Saavedra,Comuna 12,1430.0,C1430EFA,-58.494884,-34.554937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,Público,Universidad Nacional de las Artes,43,Área Transdepartamental de Folklore ôAntonio B...,46,0,4304600,2549,4956-0076,4956-0075,...,Sánchez de Loria 443,Sánchez de Loria,443,POINT (-58.4130372252768 -34.6146717134723),Almagro,Comuna 5,1173.0,C1173ACI,-58.413037,-34.614672
364,Público,Universidad Nacional de las Artes,43,Carrera de Posgrado de Especialista en Arte-Te...,55,0,4305500,2560,4 301-2405,NaN,...,Pinzón 1172,Pinzón,1172,POINT (-58.3715880886931 -34.5866795404173),Retiro,Comuna 1,1161.0,C1161ADF,-58.371588,-34.586680
365,Público,Universidad Nacional de las Artes,43,"Departamento de Arte Dramáticas ""Antonio Cunil...",80,0,4308000,2547,4804-2352/9743,4804-2352,...,French 3614,French,3614,POINT (-58.4117574907614 -34.5831491307542),Palermo,Comuna 14,1425.0,C1425AXD,-58.411757,-34.583149
366,Público,Universidad Nacional de las Artes,43,Departamento de Artes Audiovisuales,82,0,4308200,2548,4861-1541/4864-0004,4864-0004,...,Rocamora 4141,Rocamora,4141,POINT (-58.4225983319713 -34.5993949085572),Almagro,Comuna 5,1184.0,C1184ABC,-58.422598,-34.599395
367,Público,Universidad Nacional de las Artes,43,"Departamento de Artes del Movimiento""Maria Rua...",83,0,4308300,2549,4956-0168/0168,4956-0168,...,Sánchez de Loria 443,Sánchez de Loria,443,POINT (-58.4130372252768 -34.6146717134723),Almagro,Comuna 5,1173.0,C1173ACI,-58.413037,-34.614672
368,Público,Universidad Nacional de las Artes,43,"Departamento de Artes Musicales y Sonoras ""Car...",84,0,4308400,2541,4 961-0161/ 4 964-5593,NaN,...,Av. Córdoba 2445,Av. Córdoba,2445,POINT (-58.4017895947653 -34.5991893103869),Recoleta,Comuna 2,1120.0,C1120AAG,-58.401790,-34.599189
369,Público,Universidad Nacional de las Artes,43,"Departamento de Artes Visuales ""Prilidiano Pue...",85,0,4308500,1090,2054-8558,4371-7537,...,Bartolomé Mitre 1869,Bartolomé Mitre,1869,POINT (-58.3930205921372 -34.6079447005105),Balvanera,Comuna 3,1039.0,C1039AAA,-58.393021,-34.607945
370,Público,Universidad Nacional de las Artes,43,Sede Pizón,306,0,4330600,2560,4301-6526,NaN,...,Pinzón 1172,Pinzón,1172,POINT (-58.3715880886931 -34.5866795404173),Retiro,Comuna 1,1161.0,C1161ADF,-58.371588,-34.586680
371,Público,Universidad Nacional de Luján,44,Sede Ciudad de Buenos Aires,304,0,4430400,2551,4962-7045/7026,4961-3268,...,Ecuador 871,Ecuador,871,POINT (-58.406244513026 -34.5999147752481),Balvanera,Comuna 3,1214.0,C1214ACM,-58.406245,-34.599915
372,Público,Universidad Nacional de Quilmes,45,Instituto de Estudios Sobre la Ciencia y la Te...,261,0,4526100,2552,4365-7100 Int. 5851,4305-6311,...,Solís 1067,Solís,1067,POINT (-58.3902193239091 -34.6211457961123),Constitucion,Comuna 1,1078.0,C1078AAU,-58.390219,-34.621146
373,Público,Universidad Nacional de San Martín,46,Instituto de Ciencias de la Rehabilitación y e...,259,0,4625900,2558,4576-0450,4576-0450,...,Dragones 2201,Dragones,2201,POINT (-58.4420103452457 -34.5514225035667),Belgrano,Comuna 13,1428.0,C1428AZI,-58.442010,-34.551423
374,Público,Universidad Nacional de San Martín,46,Instituto de Investigaciónes Sobre el Patrimon...,265,0,4626500,2544,4301-4056,4301-4056,...,B.Quinquela Martín 1784,B.Quinquela Martín,1784,POINT (-58.3749813573112 -34.6440572132891),Barracas,Comuna 4,1296.0,C1296ADJ,-58.374981,-34.644057
375,Público,Universidad Nacional de Tres de Febrero,47,Sede Borges,298,0,4729800,2502,4311-7447,43140022,...,Viamonte 427,Viamonte,427,POINT (-58.3729066861741 -34.5995726282451),San Nicolas,Comuna 1,1053.0,C1053ABI,-58.372907,-34.599573
376,Público,Universidad Pedagógica de la Provincia de Buen...,48,Sede Ciudad Autonoma de Buenos Aires,303,0,4830300,2507,4811-4107,NaN,...,Paraguay 1457,Paraguay,1457,POINT (-58.3877573489281 -34.5982026220601),Recoleta,Comuna 2,1061.0,C1061ABA,-58.387757,-34.598203
377,Público,Universidad Tecnológica Nacional,49,Rectorado,1,0,4900100,2555,5371-5700/5702,5371-5697,...,Sarmiento 440,Sarmiento,440,POINT (-58.3729913230506 -34.6044855456125),San Nicolas,Comuna 1,1041.0,C1041AAJ,-58.372991,-34.604486
378,Público,Universidad Tecnológica Nacional,49,Facultad Regional Buenos Aires,254,0,4925400,2554,4867-7515[C]4867-7500,4867-7500 Int. 7752,...,Medrano 951,Medrano,951,POINT (-58.4201333645209 -34.5985726375326),Almagro,Comuna 5,1179.0,C1179AAQ,-58.420133,-34.598573
379,Público,Universidad Tecnológica Nacional,49,Instituto Nacional Superior del Profesorado Té...,269,0,4926900,702,4555-1989 Int.109,4552-4176,...,Triunvirato 3174,Triunvirato,3174,POINT (-58.4669165329648 -34.584101195067),Villa Ortuzar,Comuna 15,1427.0,C1427AAR,-58.466917,-34.584101
380,Público,Universidad Tecnológica Nacional,49,Sede Campus,299,0,4929900,2557,4638-8838/8115,NaN,...,Mozart 2300,Mozart,2300,POINT (-58.4693091899918 -34.6594586365769),Villa Lugano,Comuna 8,1407.0,C1407IVT,-58.469309,-34.659459
381,Público,Universidad Tecnológica Nacional,49,Sede Castro Barros,301,0,4930100,2553,4981-5577/4983-8882,NaN,...,Castro Barros 91,Castro Barros,91,POINT (-58.4208400834829 -34.6130004707165),Almagro,Comuna 5,1178.0,C1178AAA,-58.420840,-34.613000
382,Privado,Universidad Torcuato Di Tella,50,Rectorado,1,0,5000100,2556,5169-7168[C]5169-7000,5169-7240,...,Av. Pte. Figueroa Alcorta 7350,Av. Pte. Figueroa Alcorta,7350,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BCW,-58.447392,-34.548197
383,Privado,Universidad Torcuato Di Tella,50,Departamento de Historia,11,0,5001100,2556,5169-7266,5169-7266,...,Av. Pte. Figueroa Alcorta 7350,Av. Pte. Figueroa Alcorta,7350,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BCW,-58.447392,-34.548197
384,Privado,Universidad Torcuato Di Tella,50,Departamento de Arte,79,0,5007900,2556,5169-7140,5169-7140,...,Av. Pte. Figueroa Alcorta 7350,Av. Pte. Figueroa Alcorta,7350,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BCW,-58.447392,-34.548197
385,Privado,Universidad Torcuato Di Tella,50,Departamento de Ciencia Política y Estudios In...,92,0,5009200,2556,5169-7163,5169-7174,...,Av. Pte. Figueroa Alcorta 7350,Av. Pte. Figueroa Alcorta,7350,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BCW,-58.447392,-34.548197
386,Privado,Universidad Torcuato Di Tella,50,Departamento de Economía,106,0,5010600,2556,5169-7331,5169-7348,...,Av. Pte. Figueroa Alcorta 7350,Av. Pte. Figueroa Alcorta,7350,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BCW,-58.447392,-34.548197
387,Privado,Universidad Torcuato Di Tella,50,Departamento de Matemática y Estadística,135,0,5013500,2556,5169-7143,5169-7143,...,Av. Pte. Figueroa Alcorta 7350,Av. Pte. Figueroa Alcorta,7350,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BCW,-58.447392,-34.548197
388,Privado,Universidad Torcuato Di Tella,50,Escuela de Arquitectura y Estudios Urbanos,165,0,5016500,2556,5169-7330,5169-7330,...,Av. Pte. Figueroa Alcorta 7350,Av. Pte. Figueroa Alcorta,7350,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BCW,-58.447392,-34.548197
389,Privado,Universidad Torcuato Di Tella,50,Escuela de Derecho,173,0,5017300,2556,5169-7181,5169-7181,...,Av. Pte. Figueroa Alcorta 7350,Av. Pte. Figueroa Alcorta,7350,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BCW,-58.447392,-34.548197
390,Privado,Universidad Torcuato Di Tella,50,Escuela de Gobierno,179,0,5017900,2556,5169-7138,5169-7138,...,Av. Pte. Figueroa Alcorta 7350,Av. Pte. Figueroa Alcorta,7350,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BCW,-58.447392,-34.548197
391,Privado,Universidad Torcuato Di Tella,50,Escuela de Negocios,184,0,5018400,2556,5169-7301,5169-7347,...,Sáenz Valiente 1010,Sáenz Valiente,1010,POINT (-58.4473918076942 -34.5481966747009),Belgrano,Comuna 13,1428.0,C1428BIJ,-58.447392,-34.548197
392,Privado,Universitá Degli Studi di Bologna,51,Rectorado,1,0,5100100,1050,[C]4570-3000 Int.140/141,4570-3059,...,Marcelo T. de Alvear 1149,Marcelo T. de Alvear,1149,POINT (-58.3835621148359 -34.5967589513622),Retiro,Comuna 1,1058.0,C1058AAQ,-58.383562,-34.596759

In [13]:
#Remove columns with irrelevant information.

columns_names = ['University', 'Neighborhood', 'Longitude', 'Latitude']
columns_to_drop = ['regimen', 'univ_c', 'unidad_aca', 'unac_c', 'anexo_c', 'unicue', 'cui', 'telef', 'fax', 'web', 'direccion_norm', 'calle', 'altura', 'WKT_gkba', 'comuna', 'codigo_postal', 'codigo_postal_argentino']
ba_colleges.drop(columns=columns_to_drop, axis=1, inplace=True)
ba_colleges.columns = columns_names
ba_colleges

,University,Neighborhood,Longitude,Latitude
0,FLACSO (Facultad Latinoamericana de Ciencias S...,Balvanera,-58.395341,-34.602658
1,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
2,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
3,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
4,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
5,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
6,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
7,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
8,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
9,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
10,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
11,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
12,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
13,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
14,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
15,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
16,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
17,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
18,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
19,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
20,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
21,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
22,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
23,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
24,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
25,Instituto Universitario Aeronáutico,Palermo,-58.434159,-34.572162
26,Instituto Universitario Aeronáutico,Palermo,-58.440402,-34.572043
27,Instituto Universitario Aeronáutico,San Nicolas,-58.370267,-34.599345
28,Instituto Universitario CEMIC,Saavedra,-58.494884,-34.554937
29,Instituto Universitario CEMIC,Saavedra,-58.494884,-34.554937
...,...,...,...,...
363,Universidad Nacional de las Artes,Almagro,-58.413037,-34.614672
364,Universidad Nacional de las Artes,Retiro,-58.371588,-34.586680
365,Universidad Nacional de las Artes,Palermo,-58.411757,-34.583149
366,Universidad Nacional de las Artes,Almagro,-58.422598,-34.599395
367,Universidad Nacional de las Artes,Almagro,-58.413037,-34.614672
368,Universidad Nacional de las Artes,Recoleta,-58.401790,-34.599189
369,Universidad Nacional de las Artes,Balvanera,-58.393021,-34.607945
370,Universidad Nacional de las Artes,Retiro,-58.371588,-34.586680
371,Universidad Nacional de Luján,Balvanera,-58.406245,-34.599915
372,Universidad Nacional de Quilmes,Constitucion,-58.390219,-34.621146
373,Universidad Nacional de San Martín,Belgrano,-58.442010,-34.551423
374,Universidad Nacional de San Martín,Barracas,-58.374981,-34.644057
375,Universidad Nacional de Tres de Febrero,San Nicolas,-58.372907,-34.599573
376,Universidad Pedagógica de la Provincia de Buen...,Recoleta,-58.387757,-34.598203
377,Universidad Tecnológica Nacional,San Nicolas,-58.372991,-34.604486
378,Universidad Tecnológica Nacional,Almagro,-58.420133,-34.598573
379,Universidad Tecnológica Nacional,Villa Ortuzar,-58.466917,-34.584101
380,Universidad Tecnológica Nacional,Villa Lugano,-58.469309,-34.659459
381,Universidad Tecnológica Nacional,Almagro,-58.420840,-34.613000
382,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
383,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
384,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
385,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
386,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
387,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
388,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
389,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
390,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
391,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
392,Universitá Degli Studi di Bologna,Retiro,-58.383562,-34.596759

The dataset lists all departments for every university, but for a sizeble portion of them, most of this deparments are distributed among a couple or even a single building. It would be simpler to just take one row per building, although some information get lost in this process, as bigger universities tend to have more departments per building. This is something that can be incorporated as well.

In [14]:
#Remove the indexes of repetead coordinates.

ba_colleges_sorted = ba_colleges.sort_values('Longitude')
ba_colleges_sorted.reset_index(drop=True, inplace=True)
ba_colleges_sorted
index_to_drop = []
for i in range(0, len(ba_colleges_sorted)-1):
    if ba_colleges_sorted['Longitude'][i] == ba_colleges_sorted['Longitude'][i+1] and ba_colleges_sorted['Latitude'][i] == ba_colleges_sorted['Latitude'][i+1]:
        index_to_drop.append(i+1)

ba_colleges_sorted.drop(index=(index_to_drop), axis=0, inplace=True)
ba_colleges_sorted

,University,Neighborhood,Longitude,Latitude
0,Universidad de Buenos Aires,Villa Devoto,-58.512286,-34.597359
1,Pontificia Universidad Católica Argentina Sant...,Villa Devoto,-58.508397,-34.593351
2,Instituto Universitario CEMIC,Saavedra,-58.495122,-34.556884
3,Instituto Universitario CEMIC,Saavedra,-58.494884,-34.554937
5,Universidad de Morón,Villa Urquiza,-58.493619,-34.576934
6,Universidad de Buenos Aires,Agronomia,-58.482395,-34.597846
8,Universidad de Buenos Aires,Villa Urquiza,-58.478376,-34.567911
9,Universidad de Buenos Aires,Agronomia,-58.477754,-34.595813
10,Universidad de Flores,Flores,-58.470794,-34.628707
11,Universidad Tecnológica Nacional,Villa Lugano,-58.469309,-34.659459
12,Instituto Universitario de la Policía Federal ...,Villa Lugano,-58.467620,-34.671390
13,Universidad Tecnológica Nacional,Villa Ortuzar,-58.466917,-34.584101
14,Universidad de Buenos Aires,Villa Lugano,-58.465200,-34.679304
15,Universidad de Flores,Flores,-58.462836,-34.632565
20,Universidad de Flores,Flores,-58.462563,-34.632632
21,Instituto Universitario ISEDET,Flores,-58.457051,-34.630848
27,Universidad de Morón,Caballito,-58.454501,-34.613776
28,Universidad Abierta Interamericana,Belgrano,-58.453880,-34.551461
29,Instituto Universitario River Plate,Belgrano,-58.449383,-34.546422
32,Universidad Torcuato Di Tella,Belgrano,-58.447392,-34.548197
42,Universidad de Buenos Aires,Caballito,-58.446548,-34.628316
44,Pontificia Universidad Católica Argentina Sant...,Colegiales,-58.443992,-34.579648
45,Universidad de Belgrano,Palermo,-58.442848,-34.565543
48,Universidad de Buenos Aires,Belgrano,-58.442065,-34.542501
51,Universidad Nacional de San Martín,Belgrano,-58.442010,-34.551423
52,Universidad de Belgrano,Palermo,-58.441051,-34.565814
55,Universidad Maimónides,Caballito,-58.440901,-34.610397
58,Instituto Universitario Aeronáutico,Palermo,-58.440402,-34.572043
59,Instituto Universitario de Salud Mental de la ...,Palermo,-58.436900,-34.567914
65,"Instituto Universitario del Ejército ""Mayor Fr...",Palermo,-58.436341,-34.574260
...,...,...,...,...
286,Universidad CAECE,Monserrat,-58.378735,-34.609039
288,Universidad de Morón,San Nicolas,-58.377917,-34.604433
289,Universidad de Morón,San Nicolas,-58.377583,-34.607112
290,Universidad Nacional de la Matanza,Monserrat,-58.377373,-34.608920
291,Universidad Abierta Interamericana,Monserrat,-58.376253,-34.609154
302,Universidad Abierta Interamericana,Barracas,-58.375168,-34.636641
303,Universidad Nacional de San Martín,Barracas,-58.374981,-34.644057
304,Universidad CAECE,San Nicolas,-58.374522,-34.605567
305,Universidad de Buenos Aires,Barracas,-58.374465,-34.640941
306,Universidad de Belgrano,San Nicolas,-58.373686,-34.601970
307,Universidad Tecnológica Nacional,San Nicolas,-58.372991,-34.604486
308,Instituto Universitario Naval,Retiro,-58.372909,-34.582838
309,Universidad Nacional de Tres de Febrero,San Nicolas,-58.372907,-34.599573
311,Universidad del CEMA,San Nicolas,-58.372360,-34.598673
328,Universidad Nacional de las Artes,Barracas,-58.372229,-34.627899
329,Universidad del Norte Santo Tomás de Aquino,Monserrat,-58.371724,-34.612646
330,Instituto Universitario de Seguridad Marítima,San Nicolas,-58.371671,-34.602971
332,Universidad de Belgrano,Retiro,-58.371588,-34.586680
343,Instituto Universitario Naval,Retiro,-58.371581,-34.586681
344,Universidad de San Andrés,San Nicolas,-58.371137,-34.600972
345,Universidad Católica de Salta,San Nicolas,-58.371026,-34.602459
346,Universidad de Morón,San Telmo,-58.370986,-34.620773
347,Universidad del Cine,San Telmo,-58.370858,-34.616749
350,Instituto Universitario Aeronáutico,San Nicolas,-58.370267,-34.599345
351,Instituto Universitario de Gendarmería Nacional,Monserrat,-58.369677,-34.614294
353,Universidad de Buenos Aires,San Telmo,-58.368517,-34.617677
354,Instituto Tecnológico de Buenos Aires,Puerto Madero,-58.367849,-34.603116
378,Pontificia Universidad Católica Argentina Sant...,Puerto Madero,-58.366017,-34.613577
379,Pontificia Universidad Católica Argentina Sant...,Puerto Madero,-58.365934,-34.614306
385,Pontificia Universidad Católica Argentina Sant...,Puerto Madero,-58.365838,-34.615282

In [15]:
#Prepare both DataFrames for future concatenation.

for i, item in enumerate(ba_colleges_sorted['Neighborhood']):
    ba_colleges_sorted.iloc[i, 1] = item.upper()
ba_colleges_sorted.drop(columns=['Latitude', 'Longitude'], inplace=True)
ba_colleges_sorted = ba_colleges_sorted[['Neighborhood', 'University']]
ba_colleges_sorted.columns = ['Neighborhood', 'Category']
ba_venues.drop(columns=['Neighborhood Latitude', 'Neighborhood Longitude', 'Venue', 'Distance to Centroid in m'], inplace=True)

In [16]:
#Concatenate both DataFrame.

venues_final = pd.concat([ba_venues, ba_colleges_sorted], sort=False)
venues_final.reset_index(drop=True, inplace=True)
venues_final

       Neighborhood                                           Category
0         CHACARITA                                               Café
1         CHACARITA                                               Pool
2         CHACARITA                                    Cultural Center
3         CHACARITA                      Vegetarian / Vegan Restaurant
4         CHACARITA                                        Pizza Place
5         CHACARITA                                        Pastry Shop
6         CHACARITA                                        Pizza Place
7         CHACARITA                                         Whisky Bar
8         CHACARITA                                           Beer Bar
9         CHACARITA                                             Bakery
10        CHACARITA                                  German Restaurant
11        CHACARITA                              Venezuelan Restaurant
12        CHACARITA                                     Farmers Market
13        CHACARITA                                      Deli / Bodega
14        CHACARITA                                            Brewery
15        CHACARITA                             Argentinian Restaurant
16        CHACARITA                                    Photography Lab
17        CHACARITA                                         Restaurant
18        CHACARITA                                             Bakery
19        CHACARITA                               Gym / Fitness Center
20        CHACARITA                                            Theater
21        CHACARITA                                         Restaurant
22        CHACARITA                                          Rock Club
23        CHACARITA                                       Dance Studio
24        CHACARITA                                     Ice Cream Shop
25        CHACARITA                                             Bakery
26        CHACARITA                                         Taco Place
27        CHACARITA                                              Plaza
28        CHACARITA                      Vegetarian / Vegan Restaurant
29        CHACARITA                                        Music Venue
...             ...                                                ...
1379      MONSERRAT                                  Universidad CAECE
1380    SAN NICOLAS                               Universidad de Morón
1381    SAN NICOLAS                               Universidad de Morón
1382      MONSERRAT                 Universidad Nacional de la Matanza
1383      MONSERRAT                 Universidad Abierta Interamericana
1384       BARRACAS                 Universidad Abierta Interamericana
1385       BARRACAS                 Universidad Nacional de San Martín
1386    SAN NICOLAS                                  Universidad CAECE
1387       BARRACAS                        Universidad de Buenos Aires
1388    SAN NICOLAS                            Universidad de Belgrano
1389    SAN NICOLAS                   Universidad Tecnológica Nacional
1390         RETIRO                      Instituto Universitario Naval
1391    SAN NICOLAS            Universidad Nacional de Tres de Febrero
1392    SAN NICOLAS                               Universidad del CEMA
1393       BARRACAS                  Universidad Nacional de las Artes
1394      MONSERRAT        Universidad del Norte Santo Tomás de Aquino
1395    SAN NICOLAS      Instituto Universitario de Seguridad Marítima
1396         RETIRO                            Universidad de Belgrano
1397         RETIRO                      Instituto Universitario Naval
1398    SAN NICOLAS                          Universidad de San Andrés
1399    SAN NICOLAS                      Universidad Católica de Salta
1400      SAN TELMO                               Universidad de Morón
1401      SAN TELMO                               Universidad del Cine
1402    SAN NICOLAS                Instituto Universitario Aeronáutico
1403      MONSERRAT    Instituto Universitario de Gendarmería Nacional
1404      SAN TELMO                        Universidad de Buenos Aires
1405  PUERTO MADERO              Instituto Tecnológico de Buenos Aires
1406  PUERTO MADERO  Pontificia Universidad Católica Argentina Sant...
1407  PUERTO MADERO  Pontificia Universidad Católica Argentina Sant...
1408  PUERTO MADERO  Pontificia Universidad Católica Argentina Sant...

[1409 rows x 2 columns]

At this point it's time to perform an exploratory analysis of this new data to wrangle it.

In [17]:
venues_grouped = venues_final.groupby(by='Category').count().sort_values(by='Neighborhood', ascending=False)
venues_grouped[venues_grouped['Neighborhood'] > 10]

                             Neighborhood
Category
Argentinian Restaurant                101
Pizza Place                            81
Ice Cream Shop                         74
Café                                   66
Bakery                                 51
Plaza                                  45
Coffee Shop                            44
BBQ Joint                              43
Bus Stop                               31
Restaurant                             26
Gym                                    25
Italian Restaurant                     24
Park                                   21
Athletics & Sports                     21
Gym / Fitness Center                   20
Hotel                                  19
Universidad de Buenos Aires            19
Soccer Field                           17
Sports Club                            17
Theater                                16
Sandwich Place                         15
Burger Joint                           14
Pharmacy                               13
Deli / Bodega                          13
Grocery Store                          13
Fast Food Restaurant                   12
Universidad de Morón                   12
Universidad del Salvador               11
Electronics Store                      11
Tennis Court                           11

In [18]:
#Create a list of keyword to filter venues by relevant categories.

list_for_filtering = ('Restaurant', 'Shop', 'Store', 'Mall', 'Club', 'Bar', 'Center', 'Brewery', 'Theater', 'Place', 'Joint', 'Diner', 'Station', 'Spot', 'Steakhouse', 'Instituto', 
                      'Arcade', 'Beer', 'Stop', 'Hostel', 'Hotel', 'Play', 'Motel', 'Pub', 'Multiplex', 'Cafeteria', 'Venue', 'Entertainment', 'Café', 'FLACSO', 'Universidad')

filtered_index = set({})
for item in list_for_filtering:
    for i, venue in enumerate(venues_final['Category']):
        if item in venue:
            filtered_index.add(i)

In [19]:
#Keep only the venues related to the keywords.

venues_filtered = venues_final.iloc[list(filtered_index), :]
venues_filtered_grouped = venues_filtered.groupby(by='Category').count().sort_values(by='Neighborhood', ascending=False)
venues_filtered_grouped[venues_filtered_grouped['Neighborhood'] > 10]

                             Neighborhood
Category
Argentinian Restaurant                101
Pizza Place                            81
Ice Cream Shop                         74
Café                                   66
Coffee Shop                            44
BBQ Joint                              43
Bus Stop                               31
Restaurant                             26
Italian Restaurant                     24
Gym / Fitness Center                   20
Universidad de Buenos Aires            19
Hotel                                  19
Sports Club                            17
Theater                                16
Sandwich Place                         15
Burger Joint                           14
Grocery Store                          13
Universidad de Morón                   12
Fast Food Restaurant                   12
Electronics Store                      11
Universidad del Salvador               11

In [20]:
#Get all the categories to refine and simplify the information. For example, for the purpose of this analysis, all places that only provide a meal can be grouped together.

filtered_categories = set(venues_filtered['Category'])
filtered_categories

{'American Restaurant',
 'Arcade',
 'Argentinian Restaurant',
 'Arts & Crafts Store',
 'Arts & Entertainment',
 'Automotive Shop',
 'BBQ Joint',
 'Bagel Shop',
 'Bar',
 'Beer Bar',
 'Big Box Store',
 'Bike Shop',
 'Breakfast Spot',
 'Brewery',
 'Burger Joint',
 'Bus Station',
 'Bus Stop',
 'Cafeteria',
 'Café',
 'Cheese Shop',
 'Chinese Restaurant',
 'Chocolate Shop',
 'Clothing Store',
 'Cocktail Bar',
 'Coffee Shop',
 'Comfort Food Restaurant',
 'Comic Shop',
 'Convenience Store',
 'Convention Center',
 'Cosmetics Shop',
 'Cultural Center',
 'Department Store',
 'Dessert Shop',
 'Diner',
 'Eastern European Restaurant',
 'Electronics Store',
 'Empanada Restaurant',
 'English Restaurant',
 'FLACSO (Facultad Latinoamericana de Ciencias Sociales)',
 'Fast Food Restaurant',
 'Flower Shop',
 'Food & Drink Shop',
 'French Restaurant',
 'Furniture / Home Store',
 'Gas Station',
 'German Restaurant',
 'Gift Shop',
 'Gourmet Shop',
 'Grocery Store',
 'Gym / Fitness Center',
 'Hardware Store',
 'Hostel',
 'Hot Dog Joint',
 'Hotel',
 'Hotel Bar',
 'Ice Cream Shop',
 'Indie Movie Theater',
 'Indie Theater',
 'Instituto Tecnológico de Buenos Aires',
 'Instituto Universitario Aeronáutico',
 'Instituto Universitario CEMIC',
 'Instituto Universitario Escuela Argentina de Negocios',
 'Instituto Universitario Escuela Superior de Economía y Administración de Empresas',
 'Instituto Universitario Escuela de Medicina del Hospital Italiano',
 'Instituto Universitario ISEDET',
 'Instituto Universitario Nacional de Derechos Humanos "Madres de Plaza de Mayo"',
 'Instituto Universitario Naval',
 'Instituto Universitario River Plate',
 'Instituto Universitario de Ciencias de la Salud de la Fundación Barceló',
 'Instituto Universitario de Gendarmería Nacional',
 'Instituto Universitario de Salud Mental de la Asociación Psicoanalítica de Buenos Aires',
 'Instituto Universitario de Seguridad Marítima',
 'Instituto Universitario de la Policía Federal Argentina',
 'Instituto Universitario del Ejército "Mayor Francisco Romero"',
 'Italian Restaurant',
 'Japanese Restaurant',
 'Jewish Restaurant',
 'Korean Restaurant',
 'Latin American Restaurant',
 'Light Rail Station',
 'Liquor Store',
 "Men's Store",
 'Metro Station',
 'Mexican Restaurant',
 'Middle Eastern Restaurant',
 'Motel',
 'Motorcycle Shop',
 'Movie Theater',
 'Multiplex',
 'Music Venue',
 'Optical Shop',
 'Outlet Store',
 'Paella Restaurant',
 'Paper / Office Supplies Store',
 'Pastry Shop',
 'Performing Arts Venue',
 'Peruvian Restaurant',
 'Pet Store',
 'Pizza Place',
 'Pontificia Universidad Católica Argentina Santa María de los Buenos Aires',
 'Pub',
 'Restaurant',
 'Rock Club',
 'Salad Place',
 'Salon / Barbershop',
 'Sandwich Place',
 'Scandinavian Restaurant',
 'Seafood Restaurant',
 'Shipping Store',
 'Shoe Store',
 'Shop & Service',
 'Shopping Mall',
 'Shopping Plaza',
 'Smoke Shop',
 'Snack Place',
 'Social Club',
 'South American Restaurant',
 'Spanish Restaurant',
 'Sporting Goods Shop',
 'Sports Bar',
 'Sports Club',
 'Steakhouse',
 'Sushi Restaurant',
 'Taco Place',
 'Tapas Restaurant',
 'Theater',
 'Thrift / Vintage Store',
 'Toy / Game Store',
 'Train Station',
 'Universidad  Favaloro',
 'Universidad Abierta Interamericana',
 'Universidad Argentina John F. Kennedy',
 'Universidad Argentina de la Empresa',
 'Universidad CAECE',
 'Universidad Católica de La Plata',
 'Universidad Católica de Salta',
 'Universidad ISALUD',
 'Universidad Maimónides',
 'Universidad Metropolitana para la Educación y el Trabajo',
 'Universidad Nacional de Luján',
 'Universidad Nacional de Quilmes',
 'Universidad Nacional de San Martín',
 'Universidad Nacional de Tres de Febrero',
 'Universidad Nacional de la Matanza',
 'Universidad Nacional de las Artes',
 'Universidad Pedagógica de la Provincia de Buenos Aires',
 'Universidad Tecnológica Nacional',
 'Universidad Torcuato Di Tella',
 'Universidad de Belgrano',
 'Universidad de Buenos Aires',
 'Universidad de Ciencias Empresariales y Sociales',
 'Universidad de Flores',
 'Universidad de Morón',
 'Universidad de Palermo',
 'Universidad de San Andrés',
 'Universidad de la Marina Mercante',
 'Universidad del CEMA',
 'Universidad del Cine',
 'Universidad del Museo Social Argentino',
 'Universidad del Norte Santo Tomás de Aquino',
 'Universidad del Salvador',
 'Vegetarian / Vegan Restaurant',
 'Venezuelan Restaurant',
 'Vietnamese Restaurant',
 'Whisky Bar',
 'Wine Bar',
 'Wine Shop',
 "Women's Store"}

In [21]:
#Create a function to make macro-categories.

def categorize_venues (df, category_set, category_list):
    for category in df['Category']:
        for item in category_list:
            if item in category:
                category_set.add(category)

In [22]:
#Create the sets and lists required to apply the function.

restaurants = set({})
restaurants_list = ['Restaurant', 'Joint', 'Steakhouse','Diner', 'Place', 'Spot']
stores = set({})
stores_list = ['Store', 'Mall', 'Comic Shop']
bars = set({})
bars_list = ['Bar', 'Brewery', 'Pub', 'Club']
dessert_shops = set({})
dessert_list = ['Ice Cream', 'Dessert']
coffee_shops = set({})
coffee_list = ['Coffee', 'Cafeteria', 'Café']
stops_stations = set({})
stations_list = ['Station', 'Stop']
entertainment = set({})
entertainment_list = ['Entertainment', 'Venue', 'Multiplex', 'Arcade', 'Play', 'Center', 'Theater']
accommodation = set({})
accommodation_list = ['Hotel', 'Hostel', 'Motel']
universities = set({})
universities_list = ['Universidad', 'FLACSO', 'Instituto']
macro_categories = [restaurants, bars, dessert_shops, coffee_shops, stops_stations, entertainment, accommodation, stores, universities]
categories_lists = [restaurants_list, bars_list, dessert_list, coffee_list, stations_list, entertainment_list, accommodation_list, stores_list, universities_list]

In [23]:
#Call the function to construct each macro-category.

for i in range(0, len(macro_categories)):
    category = macro_categories[i]
    category_list = categories_lists[i]
    categorize_venues(venues_filtered, category, category_list)

In [24]:
#After analyzing each set it's clear some categories should be deleted for consistency.

stops_stations.remove('Gas Station')
entertainment.remove('Gym / Fitness Center')
bars.remove('Hotel Bar')
bars.remove('Instituto Universitario de Ciencias de la Salud de la Fundación Barceló')
universities.add('Instituto Universitario de Ciencias de la Salud de la Fundación Barceló')
list_to_drop = ['Shopping Mall', 'Electronics Store', 'Hardware Store', 'Comic Shop']
venues_to_drop = set({})
for item in stores:
    if item not in list_to_drop:
        venues_to_drop.add(item)
    
for item in bars:
    if item == 'Sports Club' or item == 'Salon / Barbershop':
        venues_to_drop.add(item)
        
venues_filtered.reset_index(drop=True, inplace=True)
index_to_drop = []
        
for i, item in enumerate(venues_filtered['Category']):
    if item in venues_to_drop:
        index_to_drop.append(i)
        
venues_filtered.drop(index=(index_to_drop), axis=0, inplace=True)
venues_filtered.reset_index(drop=True, inplace=True)

gym_index = list(venues_filtered[venues_filtered['Category'] =='Gym / Fitness Center'].index)
venues_filtered.drop(index=(gym_index), axis=0, inplace=True)
venues_filtered

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

      Neighborhood                                           Category
0        CHACARITA                                               Café
1        CHACARITA                                    Cultural Center
2        CHACARITA                      Vegetarian / Vegan Restaurant
3        CHACARITA                                        Pizza Place
4        CHACARITA                                        Pastry Shop
5        CHACARITA                                        Pizza Place
6        CHACARITA                                         Whisky Bar
7        CHACARITA                                           Beer Bar
8        CHACARITA                                  German Restaurant
9        CHACARITA                              Venezuelan Restaurant
10       CHACARITA                                            Brewery
11       CHACARITA                             Argentinian Restaurant
12       CHACARITA                                         Restaurant
14       CHACARITA                                            Theater
15       CHACARITA                                         Restaurant
16       CHACARITA                                          Rock Club
17       CHACARITA                                     Ice Cream Shop
18       CHACARITA                                         Taco Place
19       CHACARITA                      Vegetarian / Vegan Restaurant
20       CHACARITA                                        Music Venue
21        PATERNAL                                              Diner
22        PATERNAL                             Argentinian Restaurant
23        PATERNAL                               Arts & Entertainment
24        PATERNAL                                      Train Station
25        PATERNAL                                           Bus Stop
26        PATERNAL                                      Train Station
27        PATERNAL                                     Hardware Store
28    VILLA CRESPO                                            Theater
29    VILLA CRESPO                                   Tapas Restaurant
30    VILLA CRESPO                                         Whisky Bar
..             ...                                                ...
935      MONSERRAT                                  Universidad CAECE
936    SAN NICOLAS                               Universidad de Morón
937    SAN NICOLAS                               Universidad de Morón
938      MONSERRAT                 Universidad Nacional de la Matanza
939      MONSERRAT                 Universidad Abierta Interamericana
940       BARRACAS                 Universidad Abierta Interamericana
941       BARRACAS                 Universidad Nacional de San Martín
942    SAN NICOLAS                                  Universidad CAECE
943       BARRACAS                        Universidad de Buenos Aires
944    SAN NICOLAS                            Universidad de Belgrano
945    SAN NICOLAS                   Universidad Tecnológica Nacional
946         RETIRO                      Instituto Universitario Naval
947    SAN NICOLAS            Universidad Nacional de Tres de Febrero
948    SAN NICOLAS                               Universidad del CEMA
949       BARRACAS                  Universidad Nacional de las Artes
950      MONSERRAT        Universidad del Norte Santo Tomás de Aquino
951    SAN NICOLAS      Instituto Universitario de Seguridad Marítima
952         RETIRO                            Universidad de Belgrano
953         RETIRO                      Instituto Universitario Naval
954    SAN NICOLAS                          Universidad de San Andrés
955    SAN NICOLAS                      Universidad Católica de Salta
956      SAN TELMO                               Universidad de Morón
957      SAN TELMO                               Universidad del Cine
958    SAN NICOLAS                Instituto Universitario Aeronáutico
959      MONSERRAT    Instituto Universitario de Gendarmería Nacional
960      SAN TELMO                        Universidad de Buenos Aires
961  PUERTO MADERO              Instituto Tecnológico de Buenos Aires
962  PUERTO MADERO  Pontificia Universidad Católica Argentina Sant...
963  PUERTO MADERO  Pontificia Universidad Católica Argentina Sant...
964  PUERTO MADERO  Pontificia Universidad Católica Argentina Sant...

[945 rows x 2 columns]

Replacing each category with it's corresponding macro-category would make it easier to summarize all this information in a single and easy to understand DataFrame.

In [25]:
#Recategorize venues with representative keywords.

def apply_macro_category(df, category, name):
    df['Category'].replace(to_replace=list(category), value=name, inplace=True)
            
categories_names = ['Just Meals', 'Bars', 'Dessert Shops', 'Coffee Shops', 'Transportation', 'Entertainment', 'Accommodation', 'Stores', 'Universities']    

for i in range(0, len(categories_names)):
    category = macro_categories[i]
    name = categories_names[i]
    apply_macro_category(venues_filtered, category, name)
    
venues_filtered.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

  Neighborhood       Category
0    CHACARITA   Coffee Shops
1    CHACARITA  Entertainment
2    CHACARITA     Just Meals
3    CHACARITA     Just Meals
4    CHACARITA    Pastry Shop

In [30]:
#Group by macro-category to have a final look at the table.

venues_grouped = venues_filtered.groupby(by='Category').count().sort_values(by='Neighborhood', ascending=False)
venues_grouped.head(25)

                Neighborhood
Category
Just Meals               412
Universities             134
Coffee Shops             111
Dessert Shops             82
Transportation            45
Bars                      43
Entertainment             35
Accommodation             28

In [27]:
#Finally remove miscellaneous venues from the DataFrame.

index = list(venues_grouped[venues_grouped['Neighborhood'] < 22].index)
index_to_drop = []
venues_filtered.reset_index(drop=True, inplace=True)
for item in index:
    for i, venue in enumerate(venues_filtered['Category']):
        if item == venue:
            index_to_drop.append(i)
            
venues_filtered.drop(index=index_to_drop, axis=0, inplace=True)
venues_grouped = venues_filtered.groupby(by='Category').count().sort_values(by='Neighborhood', ascending=False)
venues_grouped

                Neighborhood
Category
Just Meals               412
Universities             134
Coffee Shops             111
Dessert Shops             82
Transportation            45
Bars                      43
Entertainment             35
Accommodation             28

The final step is to group by neighborhood and have a glance of how many venues of each macro-category there are in each neighborhood. A ranking could be useful to separate the top five neighborhoods by total relevant venues. In addition, it's possible to divide the sum of the venues of each neighborhood by it's area, as to have both and absolute and relative indicator. It is also possible to figure out which macro-category is more common in each neighborhood, in the case some of them could be considered of higher priority.

In [28]:
venues_grouped_absolute = venues_filtered.groupby(by='Neighborhood').count().sort_values(by='Category', ascending=False)
venues_grouped_absolute.head(10)

               Category
Neighborhood
BALVANERA            46
MONSERRAT            35
ALMAGRO              32
SAN NICOLAS          31
SAN TELMO            27
RETIRO               27
RECOLETA             27
PUERTO MADERO        26
MONTE CASTRO         25
AGRONOMIA            23

In [31]:
ba_onehot = pd.get_dummies(venues_filtered[['Category']], prefix="", prefix_sep="")
ba_onehot['Neighborhood'] = venues_filtered['Neighborhood'] 

fixed_columns = [ba_onehot.columns[-1]] + list(ba_onehot.columns[:-1])
ba_onehot = ba_onehot[fixed_columns]

ba_onehot.head(10)

,Neighborhood,Accommodation,Bars,Coffee Shops,Dessert Shops,Entertainment,Just Meals,Transportation,Universities
0,CHACARITA,0,0,1,0,0,0,0,0
1,CHACARITA,0,0,0,0,1,0,0,0
2,CHACARITA,0,0,0,0,0,1,0,0
3,CHACARITA,0,0,0,0,0,1,0,0
5,CHACARITA,0,0,0,0,0,1,0,0
6,CHACARITA,0,1,0,0,0,0,0,0
7,CHACARITA,0,1,0,0,0,0,0,0
8,CHACARITA,0,0,0,0,0,1,0,0
9,CHACARITA,0,0,0,0,0,1,0,0
10,CHACARITA,0,1,0,0,0,0,0,0

In [34]:
ba_grouped = ba_onehot.groupby('Neighborhood').sum().reset_index()
ba_grouped

,Neighborhood,Accommodation,Bars,Coffee Shops,Dessert Shops,Entertainment,Just Meals,Transportation,Universities
0,AGRONOMIA,0,0,4,6,0,9,2,2
1,ALMAGRO,2,2,2,3,2,12,0,9
2,BALVANERA,1,3,5,1,1,11,0,24
3,BARRACAS,0,0,5,1,1,8,0,4
4,BELGRANO,0,1,2,2,0,11,0,5
5,BOCA,0,0,1,0,1,17,0,0
6,BOEDO,0,0,2,2,0,14,2,0
7,CABALLITO,0,1,3,1,0,7,0,7
8,CHACARITA,0,4,1,1,3,10,0,0
9,COGHLAN,0,1,2,1,0,5,2,0
10,COLEGIALES,0,3,3,2,0,10,0,1
11,CONSTITUCION,1,0,5,0,1,8,6,2
12,FLORES,0,0,4,5,0,7,1,4
13,FLORESTA,0,0,2,1,0,12,3,0
14,LINIERS,1,0,1,1,0,14,2,0
15,MATADEROS,0,2,3,3,0,14,0,0
16,MONSERRAT,4,1,6,1,8,6,0,9
17,MONTE CASTRO,0,1,8,3,1,11,1,0
18,NUEVA POMPEYA,0,0,0,1,0,8,3,0
19,NUÑEZ,0,1,2,0,1,8,0,0
20,PALERMO,1,2,3,0,1,6,0,10
21,PARQUE AVELLANEDA,0,0,1,2,0,3,1,0
22,PARQUE CHACABUCO,0,1,2,4,0,9,1,0
23,PARQUE CHAS,0,0,5,2,0,7,0,0
24,PARQUE PATRICIOS,0,0,2,4,0,14,1,1
25,PATERNAL,0,0,0,0,1,2,3,0
26,PUERTO MADERO,9,1,2,1,0,9,0,4
27,RECOLETA,0,1,4,0,1,5,0,16
28,RETIRO,7,1,0,1,0,10,0,8
29,SAAVEDRA,0,0,1,3,2,7,0,2
30,SAN CRISTOBAL,0,0,1,3,4,7,0,0
31,SAN NICOLAS,0,0,3,3,3,7,0,15
32,SAN TELMO,2,3,5,0,0,14,0,3
33,VELEZ SARSFIELD,0,0,0,1,0,8,4,0
34,VERSALLES,0,0,0,0,0,3,1,0
35,VILLA CRESPO,0,3,3,2,3,9,0,0
36,VILLA DEL PARQUE,0,3,4,2,0,14,0,0
37,VILLA DEVOTO,0,3,4,3,0,11,0,2
38,VILLA GRAL. MITRE,0,0,1,1,0,7,4,0
39,VILLA LUGANO,0,0,0,3,0,4,0,3
40,VILLA LURO,0,2,2,2,0,15,0,0
41,VILLA ORTUZAR,0,1,2,1,1,11,0,1
42,VILLA PUEYRREDON,0,0,0,5,0,7,5,0
43,VILLA REAL,0,1,0,0,0,1,2,0
44,VILLA RIACHUELO,0,0,0,1,0,4,0,0
45,VILLA SANTA RITA,0,0,3,1,0,5,1,0
46,VILLA SOLDATI,0,0,1,1,0,1,0,0
47,VILLA URQUIZA,0,1,1,1,0,10,0,2

In [77]:
categories = list(ba_grouped.columns)
categories.remove('Neighborhood')
for item in (categories):
    max_of_category = max(ba_grouped[item])
    neighborhood_max = ba_grouped[ba_grouped[item]==max_of_category][item]
    print('The maximum amount of', item, 'is', max_of_category, 'in', list(ba_grouped[ba_grouped[item]==max_of_category]['Neighborhood']))

The maximum amount of Accommodation is 9 in ['PUERTO MADERO']
The maximum amount of Bars is 4 in ['CHACARITA']
The maximum amount of Coffee Shops is 8 in ['MONTE CASTRO']
The maximum amount of Dessert Shops is 6 in ['AGRONOMIA']
The maximum amount of Entertainment is 8 in ['MONSERRAT']
The maximum amount of Just Meals is 17 in ['BOCA']
The maximum amount of Transportation is 6 in ['CONSTITUCION']
The maximum amount of Universities is 24 in ['BALVANERA']

<H1>Discussion:</H1>

According to this analysis, the most promising location is probably Balvanera, because there is a considerable concentration of the universities of the city, hosting around 18% of them (for comparison, the area with the maximum amount of restaurants and coffee shops only contained the 4% and 7% of them, respectively). This may have acted like a driver to open bars and restaurants in the area, trying to take advantage of the flow of people this univerisities generated. In this regard, the quantity of young people coming to this neighborhood could bolster the turnover of people into a gaming bar in this area.

<H1>Conclussion:</H1>

As shown by this analysis, there are some areas in Buenos Aires City with interesting conditions for this kind of initiative, considering the amount of young people there are and how concentrated their point of interest are.